body {
    margin: 0;
    color: white;
    background-color: #333;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.frame {
    border-style: solid;
    border-radius: 10px;
    border-color: #111;

    background-color: #222;

    margin: 10px;
    padding: 10px;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box {
    margin: 5px;
}